html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: 100%;
  position: relative;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Adjust height as needed */
  background-color: rgba(0, 0, 0, 0.05);
  margin: 0;
  padding: 0;
}

/* message */
.message--unread .message__author,
.message--unread .message__subject,
.message--unread .message__date {
  color: red;
}

#bg {
  background-repeat: no-repeat;
  background-size:cover;
  background-position: top;
  background-attachment: fixed;
}