{% extends 'item/base.html' %}

{% block body %}
<!-- Main Content -->
<div class="container mt-4">
    <!-- Title and Search -->
    <div class="text-center">
        <h1>EXPLORE WHAT YOUR PEERS CAN DO: STUDENT ENTREPRENEURSHIP IN ACTION!</h1>

    </div>

    <div class="row">
        <!-- Repeat this column for each profile/service -->
        <div class="col-md-6 mb-6">
            <form class="form-inline justify-content-center my-4">
                <div class="input-group">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search by service name"
                        aria-label="Search" style="width: 50px">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </div>
            </form>
        </div>
    </div>


    <div class="row">
        <div class="col-md-4 mb-4 justify-content-center">
            <div class="card">
                <img src="path-to-image" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">NAME</h5>
                    <p class="card-text">Bio</p>
                    <a href="#" class="btn btn-primary">Details</a>

                </div>
            </div>
        </div>
        <!-- ... other columns ... -->
    </div>
    {% for service in service_list %}
    <h1>{{service.service_name}}</h1>
    <h2>{{service.service_desc}}</h2>
    <h3>${{service.service_price}}</h3>
    {% endfor %}
    {% endblock %}