{% extends 'users/base.html' %}

{% block body %}


<div id="intro" class="bg-image shadow-1-strong zoom-image" style="background-image: url(https://img.freepik.com/free-vector/labor-day-pattern-background_23-2150881568.jpg?w=826
    ); height: 500px;">
    <div class="mask text-white" style="background-color: rgba(0, 0, 0, 0.6); padding-top: 50px; padding-bottom: 70px;">
        <div class="container d-flex align-items-center justify-content-center text-center h-100">
            <div class="text-white">
                <h1 class="mb-3" style="text-shadow: 2px 2px 4px rgba(0,0,0,0.7);">EXPLORE WHAT YOUR PEERS CAN DO:</h1>
                <h1 class="mb-3" style="text-shadow: 2px 2px 4px rgba(0,0,0,0.7);">STUDENT ENTREPRENEURSHIP IN ACTION!</h1>
                <!-- Centered and shorter search bar -->
                <form action="" method="GET" class="d-flex justify-content-center mt-4">
                    <div class="input-group" style="width: 50%;">
                        <input class="form-control" type="search" name="service_name" placeholder="Search by service name"
                            aria-label="Search">
                        <button class="btn btn-success" type="submit">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Main Content -->
<div class="container mt-2">
    <!-- <a href="{% url 'service:create_service' %}" class="btn btn-success">Add Service</a> -->
    <div class="row">
        {% for service in service_list %}
        <div class="col-md-3 mb-3 justify-content-center">
            <div class="card">
                <img class="card-img-top" height="200px" src="{{ service.service_image.url }}" />
                <div class="card-body">
                    <h6>@{{service.user_name}}</h6>
                    <h5 class="card-title">{{service.service_name}}</h5>
                    <p class="card-text">{{service.service_desc}}</p>
                    <p class="card-text"> ${{service.service_price}}</p>
                    <a href="{% url 'service:detail' service.id %}" class="btn btn-primary">Details</a>
                    {% if request.user == service.user_name %}
                    <a href="{% url 'service:update_service' service.id %}" class="btn btn-outline-warning">Edit </a>
                    <a href="{% url 'service:delete_service' service.id %}" class="btn btn-outline-danger">Delete</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!--Pagination-->
    <div class="row">
        <div class="col-md-5 offset-md-3">
            <ul class="pagination justify-content-center">


                {% if service_list.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ service_list.previous_page_number }}">Previous</a>
                </li>
                {% endif %}

                <li class="page-item ">Page: {{ service_list.number }} of {{ service_list.paginator.num_pages}}</li>



                {% if service_list.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ service_list.next_page_number }}">Next</a>
                </li>

                {% endif %}



            </ul>
        </div>
    </div>
</div>
</div>
{% endblock %}