{% extends 'users/base.html' %}
{% load static %}
{% block body %}



<!-- Breadcrumb -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'item:index' %}">Items</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ item.item_name }}</li>
    </ol>
</nav>

<!-- Product Details -->
<div class="container my-4">
    <div class="row">
        <div class="col-md-6">
            <!-- Large Item Image -->
            <img src="{{ item.item_image.url }}" alt="{{ item.item_name }}" class="product-image">

            <!-- Thumbnails -->
            <div class="thumbnails">
                <img src="{{ item.item_image.url }}" alt="Thumbnail 1" class="thumbnail">
                <img src="{{ item.item_image.url }}" alt="Thumbnail 2" class="thumbnail">
                <img src="{{ item.item_image.url }}" alt="Thumbnail 3" class="thumbnail">
                <img src="{{ item.item_image.url }}" alt="Thumbnail 4" class="thumbnail">
            </div>
        </div>

        <!-- Product info -->
        <div class="col-md-6">
            <h2>{{ item.item_name }}</h2>
            <div>{{ item.item_desc }}.</div>
            <div class="my-3">
                <span class="product-rating">
                    <!-- ★★★★★ 132 reviews -->
                </span>
            </div>
            <div class="my-3">
                <!-- <span class="original-price">USD $399</span> -->
                <span class="ml-2">RM {{ item.item_price }}</span>
                <!-- <span class="price-discount">-30%</span> -->
            </div>
            <hr>

            <div id="user-info-message-container">
                <img id="user-avatar" class="rounded-circle shadow-1-strong" src="{{item.user_name.profile.image.url}}"
                    alt="User Avatar" width="65" height="65">
                <span id="user-name">
                    <a href="{% url 'account' item.user_name.username %}">{{item.user_name.username }}</a>
                </span>
                {% if request.user != item.user_name %}
                <a id="send-message-btn" href="{% url 'create_message' item.user_name.profile.pk %}"
                    class="btn btn-outline-primary">Send Message</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!--Details Section -->
<section id="details-section">
    <hr>
    <h5>Details</h5>

    <p> {{ item.item_detail }}</p>
</section>

<!-- Related Items Section -->
<section id="related-section">
    <h5>Related Items</h5>
    <div>
        {% for related_item in related_items %}
        <div class="related-item-card">
            <a href="{{ related_item.get_absolute_url }}" title="{{ related_item.item_name }}">
                <img src="{{ related_item.item_image.url }}" alt="{{ related_item.item_name }}">
            </a>
            <a href="{{ related_item.get_absolute_url }}">{{ related_item.item_name }}</a>
            <p class="tags">Tags:
                {% for tag in related_item.tags.all %}
                <span class="tag">{{ tag.name }}</span>
                {% endfor %}
            </p>
        </div>
        {% empty %}
        <p>No related items found.</p>
        {% endfor %}
    </div>
</section>



<!-- write comment section -- only for logged user -->
{% if request.user.is_authenticated %}
<!-- Feedback section -->
<section id="feedback-section" style="background-color: #708090;">
    <div class="container my-2 py-2 text-dark">
        <div class="row d-flex justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-6">
                <div class="card" id="comment-card">
                    <div class="card-body p-4" id="comment-card-body">
                        <div class="d-flex flex-start w-100" id="comment-user-flex">
                            <!-- Comments for current logged in user -->
                            <div id="comment-user-flex" class="d-flex flex-column align-items-center mb-3">
                                <img class="rounded-circle shadow-1-strong" id="user-avatar"
                                    src="{{ request.user.profile.image.url }}" alt="avatar" width="65" height="65" />
                                <!-- User's name or username displayed below the image -->
                                <div id="user-name-display" class="mt-2">
                                    <strong>{{ request.user.username }}</strong>
                                </div>
                            </div>

                            <div class="w-100" id="comment-form-container" style="margin-left: 10px;">
                                <h5 id="comment-heading">Add a comment</h5>
                                <form method="post" id="comment-form">
                                    {% csrf_token %}
                                    <input type="hidden" name="item_id" value="{{ item.id }}">
                                    <textarea class="form-control" id="comment-textarea" name="body" rows="4"
                                        placeholder="Write your comment here.."></textarea>
                                    <div id="submit-button-container">
                                        <button class="btn btn-primary" type="submit">Submit</button>
                                    </div>
                                    {% if comment_form.errors %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ comment_form.errors }}
                                    </div>
                                    {% endif %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}

<!-- Existing feedbacks/comments - Visible to all users -->
<section style="background-color: #f7f6f6;">
    <div class="container my-2 py-2 text-dark">
        <div class="row d-flex justify-content-center">
            <div class="col-md-11 col-lg-9 col-xl-7">
                <!-- Centering the "Feedback" title -->
                <h5 class="text-center">Feedbacks</h5>
                {% for comment in item.comment.all %}
                <div class="d-flex flex-start mb-4">
                    <img class="rounded-circle shadow-1-strong me-3" src="{{ comment.commented_by.profile.image.url }}"
                        alt="avatar" width="65" height="65" />
                    <div class="card w-100" style="margin-left: 5px;">
                        <div class="card-body p-4">
                            {% if comment.commented_by == item.user_name %}
                            <h5>{{ comment.commented_by.username }} <small>|
                                    Author</small> </h5>
                            {% else %}
                            <h5>{{ comment.commented_by.username }}</h5>
                            {% endif %}
                            <p class="small">{{ comment.created|date:"F d, Y H:i" }}</p>
                            <p>{{ comment.body }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>




<!--Clear comment body-->
<script>
    window.addEventListener('load', function () {
        document.getElementById('id_body').value = '';
    });
</script>

{% endblock %}