{% extends 'item/base.html' %}
{% load static %}
{% block body %}


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'item:index' %}">Items</a></li>
        <li class="breadcrumb-item active" aria-current="page">Item Details</li>
    </ol>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <!-- Adjust the image container -->
            <img src="{{ item.item_image.url }}" class="img-fluid card-img-top" alt="{{ item.item_name }}">
        </div>
        <div class="col-lg-6">
            <!--  details -->
            <h3>Created by @ {{item.user_name}}</h3>
            <h1>{{ item.item_name }}</h1>
            <p>Description: {{ item.item_desc }}</p>
            <h3>Price: ${{ item.item_price }}</h3>




            <!-- Feedback section -->
            <div class="feedback mt-4">
                <h5>Feedback</h5>
                <p>100% Positive feedback (24 reviews)</p>
                {% if user.is_authenticated %}
                <form method="post">
                    {% csrf_token %}
                    <!--Comments -->
                    <input type="hidden" name="item_id" id="item_id" value="{{ item.id}}">
                    <input type="hidden" name="commented_by" id="commented_by" value="{{ request.user }}">
                    <div> {{ comment_form.body }}</div>
                    <button class="btn btn-primary mt-2" type="submit">Submit</button>
                </form>

                <!--Like-->
                <a id="{{ item.id }}" class="btn-like">
                    <img width="30" height="30" src="{% static 'pictures/like.png' %}">
                </a>
            </div>


            <!-- Existing feedbacks/comments -->
            <div class="existing-feedback mt-4">
                {% for comment in item.comment.all %}
                <b>{{ comment.commented_by }}</b>:
                {{ comment.body}}
                <br>
                {% endfor %}
            </div>

            {% else %} <!--Unregistered user-->
            <!-- Existing feedbacks/comments -->
            <div class="existing-feedback mt-4">
                {% for comment in item.comment.all %}
                <b>{{ comment.commented_by }}</b>:
                {{ comment.body}}
                <br>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>


<!--change Like-->
<script type="text/javascript">
    window.CSRF_TOKEN = "{{ csrf_token }}";
    $(document).on('click', '.btn-like', function () {
        var item_id = this.id;
        $.ajax({
            method: "POST",
            url: '/item/like',
            data: { item_id: item_id, csrfmiddlewaretoken: window.CSRF_TOKEN }
        });
    });
</script>

<!--Clear comment body-->
<script>
    window.addEventListener('load', function () {
        document.getElementById('id_body').value = '';
    });
</script>

{% endblock %}