{% extends 'users/base.html' %}

{% block body %}

<!-- top image -->
<div id="intro" class="bg-image shadow-1-strong zoom-image"
    style="background-image: url(https://img.freepik.com/free-vector/hand-drawn-male-wardrobe-concept_1284-37559.jpg?w=826); height: 500px;">
    <div class="mask text-white" style="background-color: rgba(0, 0, 0, 0.6); padding-top: 50px; padding-bottom: 70px;">
        <div class="container d-flex align-items-center justify-content-center text-center h-100">
            <div class="text-white">
                <h1 class="mb-3" style="text-shadow: 2px 2px 4px rgba(0,0,0,0.7);">FROM THEIR CLOSET TO YOURS:</h1>
                <h1 class="mb-3" style="text-shadow: 2px 2px 4px rgba(0,0,0,0.7);">BUY USED, SAVE MORE!</h1>
                <!-- Centered and shorter search bar -->
                <form action="" method="GET" class="d-flex justify-content-center mt-4">
                    <div class="input-group" style="width: 50%;">
                        <input class="form-control" type="search" name="item_name" placeholder="Search by item name"
                            aria-label="Search">
                        <button class="btn btn-success" type="submit">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




<!-- Main Content -->
<section style="background-color: #eee;">
    <div class="container py-5" style="max-width: 900px;"> <!-- Adjusted container width -->
        <div class="row">
            {% for item in item_list %}
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card zoom-card">
                    <div class="bg-image zoom-image ripple" style="overflow: hidden;">
                        <img src="{{ item.item_image.url }}" class="img-fluid"
                            style="width: 100%; height: 200px; object-fit: contain;" />
                    </div>
                    <div class="card-body" style="padding: 10px;">
                        <a href="{% url 'item:detail' item.id %}" class="text-reset">
                            <h5 class="card-title mb-1">{{ item.item_name }}</h5>
                        </a>
                        <h6>Created by <a href="{% url 'account' item.user_name.username %} ">@{{item.user_name}}</a>
                        </h6>

                        <p class="mb-1">Category</p>
                        <h6 class="mb-2">
                            <strong class="text-danger">${{ item.item_price }}</strong>
                        </h6>
                        <div>
                            <a href="{% url 'item:detail' item.id %}" class="btn btn-outline-primary btn-sm">Details</a>
                            {% if request.user == item.user_name %}
                            <a href="{% url 'item:update_item' item.id %}"
                                class="btn btn-outline-warning btn-sm">Edit</a>
                            <a href="{% url 'item:delete_item' item.id %}"
                                class="btn btn-outline-danger btn-sm">Delete</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!--Pagination-->
<div class="container" style="max-width: 900px;">
    <div class="row">
        <div class="col-md-12">
            <ul class="pagination justify-content-center" style="align-items: center; display: flex;">
                {% if item_list.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ item_list.previous_page_number }}">Previous</a>
                </li>
                {% endif %}

                <li class="page-item" style="margin: 0 10px; text-align: center;">Page: {{ item_list.number}} of
                    {{item_list.paginator.num_pages}}</li>
                {% if item_list.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ item_list.next_page_number }}">Next</a>
                </li>
                {% endif %}

            </ul>
        </div>
    </div>
</div>


{% endblock %}