{% extends 'users/base.html' %}

{% load static %}

{% block body %}

<style>
    .custom-form .form-control {
        border-right: 0;
        /* Remove the right border of the input field */
    }

    .custom-form .btn {
        border-radius: 0;
        /* Square edges for the button to align with the input */
    }

    .custom-button {
        padding: .375rem .75rem;
        /* Consistent padding with the search button */
    }

    .zoom-card:hover {
        transform: scale(1.05);
        /* Zoom effect on hover */
    }

    .zoom-image:hover {
        transform: scale(1.1);
        /* Zoom effect on image hover */
    }

    .filter-column,
    .ads-column {
        padding: 20px;
        /* Padding around content in these columns */
        background-color: #f8f9fa;
        /* Light background color for both columns */
    }

    .item-card-body {
        padding-left: 20px;
        /* Space between image and text */
    }
</style>

<div class="container-fluid">
    <div class="row">
        <!-- Filter Column -->
        <div class="col-md-2 filter-column">
            <h5>Filters</h5>
            <div>Sort by:</div>
            <select class="form-control mb-3">
                <option>Price</option>
                <option>Popularity</option>
            </select>
            <!-- Additional filters can be added here -->
        </div>

        <!-- Main Content Column for Items -->
        <div class="col-md-8">
            <!-- Search bar and view all -->
            <div class="d-flex justify-content-center mt-4" >
                <form action="" method="GET" class="input-group">
                    <input class="form-control" type="search" name="item_name" placeholder="Search by item's name"
                        aria-label="Search">
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-search"></i> Search
                    </button>
                    <a href="{% url 'item:index' %}" class="btn btn-secondary ms-2">
                        <i class="fas fa-list"></i> View All
                    </a>
                </form>
            </div>

            <!-- Display the count of items or results of the filter -->
            <div class="text-center mb-4">
                {% if item_name %}
                <h5>Showing {{ result_count }} results for "{{ item_name }}"</h5>
                {% else %}
                <h5>Total items: {{ result_count }}</h5>
                {% endif %}
            </div>

            <section id="item-cards-section" style="background-color: #eee;">
                <div class="container py-2">
                    {% for item in item_list %}
                    <div class="card mb-4 zoom-card">
                        <div class="row align-items-center">
                            <div class="col-md-3">
                                <div class="bg-image zoom-image ripple" style="overflow: hidden;">
                                    <a href="{% url 'item:detail' item.id %}" class="text-reset">
                                        <img src="{{ item.item_image.url }}" class="img-fluid"
                                            style="width: 100%; height: 150px; object-fit: contain;">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="card-body item-card-body">
                                    <a href="{% url 'item:detail' item.id %}" class="text-reset">
                                        <h5 class="card-title mb-1">{{ item.item_name }}</h5>
                                        <p class="mb-1 text-muted">{{ item.item_desc}}</p>
                                        <h5 class="mb-2 text-danger">RM {{ item.item_price }}</h5>

                                    </a>

                                    <div>
                                        <a href="{% url 'item:detail' item.id %}"
                                            class="btn btn-outline-primary btn-sm">Details</a>
                                        {% if request.user == item.user_name %}
                                        <a href="{% url 'item:update_item' item.id %}"
                                            class="btn btn-outline-warning btn-sm">Edit</a>
                                        <a href="{% url 'item:delete_item' item.id %}"
                                            class="btn btn-outline-danger btn-sm">Delete</a>
                                        {% endif %}
                                    </div>

                                    <p class="small">Listed by <a href="{% url 'account' item.user_name.username %}">
                                            @{{item.user_name }}</a> on {{ item.created|date:"F d, Y" }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </section>

            <!-- Pagination -->
            <div class="container" style="max-width: 900px;">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="pagination justify-content-center" style="align-items:center; display:flex;">
                            {% if item_list.has_previous %}
                            <li class="page-item"><a class="page-link"
                                    href="?page={{ item_list.previous_page_number }}&item_name={{ request.GET.item_name }}">Previous</a>
                            </li>
                            {% endif %}
                            <li class="page-item" style="margin: 0 10px; text-align: center;">
                                Page: {{ item_list.number}} of {{ item_list.paginator.num_pages }}</li>
                            {% if item_list.has_next %}
                            <li class="page-item"><a class="page-link"
                                    href="?page={{ item_list.next_page_number }}{% if request.GET.item_name %}&item_name={{ request.GET.item_name|urlencode }}{% endif %}">Next</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Ads Column -->
        <div class="col-md-2 ads-column">
            <!-- Advertisement content here -->
            <h5>Advertisements</h5>

            <!-- Advertisement 1 with link and spacing -->
            <a href="#" class="d-block mb-3">
                <img src="{% static 'pictures/logogxc.jpg' %}" alt="Advert 1" class="img-fluid">
            </a>

            <a href="#" class="d-block mb-3">
                <img src="{% static 'pictures/logo2.jpg' %}" alt="Advert 2" class="img-fluid">
            </a>

            <a href="#" class="d-block mb-3">
                <img src="{% static 'pictures/logo3.jpg' %}" alt="Advert 3" class="img-fluid">
            </a>

            <a href="#" class="d-block mb-3">
                <img src="{% static 'pictures/logo4.jpg' %}" alt="Advert 4" class="img-fluid">
            </a>

            <a href="#" class="d-block mb-3">
                <img src="{% static 'pictures/logo5.jpg' %}" alt="Advert 5" class="img-fluid">
            </a>

            <a href="#" class="d-block mb-3">
                <img src="{% static 'pictures/logo6.jpg' %}" alt="Advert 6" class="img-fluid">
            </a>
        </div>
    </div>
</div>

{% endblock %}