{% extends 'item/base.html' %}

{% block body %}

<div class="container mt-4 ">
    <!-- Title  -->
    <div class="text-center ">
        <h1>FROM THEIR CLOSET TO YOURS:</h1>
        <h1>BUY USED, SAVE MORE!</h1>
    </div>

    <!-- Search Bar -->
    <div class="row justify-content-center"> <!-- Center the row -->
        <div class="col-md-4"> <!-- Set column width -->
            <form class="form-inline my-4">
                <div class="input-group">
                    <input class="form-control mr-sm-2" type="search" name="item_name" placeholder="Search by item name"
                        aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Main Content -->
<div class="container mt-2">
    <a href="{% url 'item:create_item' %}" class="btn btn-success">Add Item</a>
    <div class="row">
        {% for item in item_list %}
        <div class="col-md-3 mb-3 justify-content-center">
            <div class="card">
                <img class="card-img-top" height="200px" src="{{ item.item_image }}" />
                <div class="card-body">
                    <h6>@{{item.user_name}}</h6>
                    <h5 class="card-title">{{item.item_name}}</h5>
                    <p class="card-text">{{item.item_desc}}</p>
                    <p class="card-text"> ${{item.item_price}}</p>
                    <a href="{% url 'item:detail' item.id %}" class="btn btn-primary">Details</a>
                    <a href="{% url 'item:update_item' item.id %}" class="btn btn-outline-warning">Edit </a>
                    <a href="{% url 'item:delete_item' item.id %}" class="btn btn-outline-danger">Delete</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!--Pagination-->
    <div class="row">
        <div class="col-md-5 offset-md-3">
            <ul class="pagination justify-content-center">


                {% if item_list.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ item_list.previous_page_number }}">Previous</a>
                </li>
                {% endif %}

                <li class="page-item ">Page: {{ item_list.number }} of {{ item_list.paginator.num_pages}}</li>



                {% if item_list.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ item_list.next_page_number }}">Next</a>
                </li>

                {% endif %}



            </ul>
        </div>
    </div>





</div>
</div>
{% endblock %}