{% extends 'users/base.html' %}
{% load static %}
{% block body %}
<style>
    /* Basic styling for tabs */
    .profile-tabs .nav-link {
        padding: 10px 15px;
        min-width: 100px;
        text-align: center;
        color: #333;
        /* Dark grey color for default state */
        background-color: #f8f9fa;
        /* Light grey background for default state */
    }

    .nav-tabs {
        display: flex;
        width: 100%;
    }

    .nav-tabs .nav-item {
        flex: 1;
        text-align: center;
    }

    .profile-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        color: #fff;
        /* White text for active state */
        background-color: #222224;
        /* Black background for active state */
    }

    .profile-tabs .nav-link:focus,
    .profile-tabs .nav-link:hover {
        background-color: #121516;
        /* Dark grey background on hover */
    }

    .tab-count {
        background-color: #28a745;
        color: white;
        border-radius: 50%;
        padding: 0 6px;
        font-size: 0.8rem;
        margin-left: 5px;
    }

    .item-service-image {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    /* Style for the count badge */
    .count-badge {
        background-color: #007BFF;
        color: white;
        padding: 0.2em 0.6em;
        border-radius: 10px;
    }

    #solditems .list-group-item,
    #soldservices .list-group-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #solditems .item-details,
    #soldservices .item-details {
        flex: 1;
        /* Utilizes available space not used by buttons */
    }

    #solditems .button-group,
    #soldservices .button-group {
        display: flex;
        gap: 10px;
        /* Adds space between buttons */
    }

    #solditems .button-group a.btn,
    #soldservices .button-group a.btn {
        white-space: nowrap;
        /* Prevents the button text from wrapping */
    }
</style>

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-8 col-md-6 col-lg-4">
            <div class="card mb-4 bg-light">
                <div class="card-body text-center">
                    <img src="{{ user.profile.image.url }}" class="img-fluid rounded-circle mb-3" width="150"
                        height="150" alt="Profile Picture">
                    <h5 class="my-3">{{ user.username }}</h5>
                    <p class="text-muted">{{ user.profile.about_me }}</p>
                    {% if is_own_account %}
                    <a href="{% url 'edit_about' %}" class="btn btn-primary btn-sm"><i class="fas fa-edit"></i> Edit</a>
                    {% else %}
                    <a href="{% url 'chat' profile_id %}" class="btn btn-primary btn-sm">Send Message <i
                            class="fa fa-paper-plane"></i></a>
                    {% endif %}
                </div>
            </div>


            <!--For sold items,sold services and earning  -->
            <div class="card mb-4 bg-light">
                <div class="card-body text-center">
                    <h5>Items</h5>
                    <p>Sold:  {{sold_items.count}} </p>
                    <p>Sales: RM {{ item_earnings }}</p>
                </div>

                <div class="card-body text-center">
                    <h5>Services</h5>
                    <p>Sold: {{sold_services.count}}</p>
                    <p>Sales: RM {{ service_earnings }}</p>
                </div>

            </div>

            <div class="card mb-4 bg-light">
                <div class="card-body text-center">
                    <h5>Profit Earned: </h5>
                    <p> RM {{ total_earnings }}</p>
                </div>
            </div>
        </div>




        <div class="col-md-8">
            <div class="card mb-4">
                <div class="card-header">
                    <h5>Profile Details</h5>
                </div>
                <div class="card-body">
                    <p><strong>Full Name:</strong> {{ user.first_name }} {{ user.last_name }}</p>
                    <p><strong>Email:</strong> {{ user.email }}</p>
                    {% if user.profile.phone %}
                    <p><strong> Phone </i>: </strong>{{user.profile.phone}} <i class="fa fa-phone"
                            aria-hidden="true"></i></p>
                    {% endif %}
                    {% if user.profile.whatsapp %}
                    <p><strong> WhatsApp </i>:</strong>{{ user.profile.whatsapp }} <a
                            href="{% url 'redirect_to_whatsapp' user.profile.whatsapp %}"
                            class="btn btn-success btn-sm">Chat <i class="fab fa-whatsapp whatsapp-icon"
                                aria-hidden="true"></i></a></p>
                    {% endif %}
                    {% if user.profile.location %}
                    <p><strong>Location:</strong> {{ user.profile.location }}</p>
                    {% endif %}
                    {% if is_own_account %}
                    <a href="{% url 'edit' %}" class="btn btn-primary btn-sm"><i class="fas fa-edit"></i> Edit </a>
                    {% endif %}
                </div>
            </div>


            <!-- Tabs for Items and Services -->
            <ul class="nav nav-tabs" id="profileTabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="items-tab" data-toggle="tab" href="#items" role="tab"
                        aria-controls="items" aria-selected="true">Items ({{ available_items.count }})</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="services-tab" data-toggle="tab" href="#services" role="tab"
                        aria-controls="services" aria-selected="false">Services ({{ available_services.count }})</a>
                </li>

                <!-- Tabs for sold Items and Services -->
                <li class="nav-item">
                    <a class="nav-link" id="solditems-tab" data-toggle="tab" href="#solditems" role="tab"
                        aria-controls="solditems" aria-selected="false">Sold Items ({{ sold_items.count }})</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="soldservices-tab" data-toggle="tab" href="#soldservices" role="tab"
                        aria-controls="soldservices" aria-selected="false">Sold Services ({{ sold_services.count }})</a>
                </li>
            </ul>

            <div class="tab-content" id="profileTabsContent">
                <!-- Items Tab Pane -->
                <div class="tab-pane fade show active" id="items" role="tabpanel" aria-labelledby="items-tab">
                    <div class="card mb-4">
                        {% if is_own_account %}
                        <a href="{% url 'item:create_item'%}" class="btn btn-success btn-sm"><i class="fas fa-plus"></i>
                            Add New Item</a>
                        {% endif %}
                        <ul class="list-group list-group-flush">
                            {% for item in available_items %}
                            <li class="list-group-item">
                                <div class="row align-items-center">
                                    <!-- Clickable area for details -->
                                    <a href="{% url 'item:detail' item.id %}"
                                        class="col-md-8 d-flex align-items-center text-decoration-none">
                                        <div class="mr-3">
                                            <img src="{{ item.item_image.url }}" class="img-fluid item-service-image"
                                                alt="{{ item.item_name }}">
                                        </div>
                                        <div>
                                            <h6 class="mb-1 text-dark">{{ item.item_name }}</h6>
                                            <p class="mb-0 text-muted">RM {{ item.item_price }}</p>
                                        </div>
                                    </a>
                                    <div class="col-md-4 text-md-right mt-3 mt-md-0">

                                        {% if is_own_account %}
                                        <a href="{% url 'item:change_status' item.id 'SO' %}"
                                            class="btn btn-info btn-sm">Mark as Sold</a>
                                        <a href="{% url 'item:update_item' item.id %}" class="btn btn-warning btn-sm"><i
                                                class="fas fa-edit"></i></a>
                                        <a href="{% url 'item:delete_item' item.id %}" class="btn btn-danger btn-sm"><i
                                                class="fas fa-trash"></i></a>
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                            {% empty %}
                            <li class="list-group-item">No item listed.</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>


                <!-- Service Tab Pane -->
                <div class="tab-pane fade" id="services" role="tabpanel" aria-labelledby="services-tab">
                    <div class="card mb-4">
                        {% if is_own_account %}
                        <a href="{% url 'service:create_service'%}" class="btn btn-success btn-sm"><i
                                class="fas fa-plus"></i> Add New Service</a>
                        {% endif %}
                        <ul class="list-group list-group-flush">
                            {% for service in available_services %}
                            <li class="list-group-item">
                                <div class="row align-items-center">
                                    <!-- Clickable area for details -->
                                    <a href="{% url 'service:detail' service.id %}"
                                        class="col-md-8 d-flex align-items-center text-decoration-none">
                                        <div class="mr-3">
                                            <img src="{{ service.service_image.url }}"
                                                class="img-fluid item-service-image" alt="{{ service.service_name }}">
                                        </div>
                                        <div>
                                            <h6 class="mb-1 text-dark">{{ service.service_name }}</h6>
                                            <p class="mb-0 text-muted">RM {{ service.service_price }}</p>
                                        </div>
                                    </a>
                                    <div class="col-md-4 text-md-right mt-3 mt-md-0">

                                        {% if is_own_account %}
                                        <a href="{% url 'service:change_status' service.id 'SO' %}"
                                            class="btn btn-info btn-sm">Mark as Sold</a>
                                        <a href="{% url 'service:update_service' service.id %}"
                                            class="btn btn-warning btn-sm"><i class="fas fa-edit"></i></a>
                                        <a href="{% url 'service:delete_service' service.id %}"
                                            class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                            {% empty %}
                            <li class="list-group-item">No service listed.</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <!-- Sold Items Tab Pane -->
                <div class="tab-pane fade" id="solditems" role="tabpanel" aria-labelledby="solditems-tab">
                    <div class="card mb-4">
                        <ul class="list-group list-group-flush">
                            {% for item in sold_items %}
                            <li class="list-group-item">
                                <a href="{% url 'item:detail' item.id %}"
                                    class="item-details d-flex align-items-center text-decoration-none">
                                    <div>
                                        <h6 class="mb-1 text-dark">{{ item.item_name }}</h6>
                                        <p class="mb-0 text-muted">RM {{ item.item_price }}</p>
                                    </div>
                                </a>
                                <div class="button-group">
                                    {% if is_own_account %}
                                    <a href="{% url 'item:relist_item' item.pk %}" class="btn btn-success btn-sm">
                                        <i class="fas fa-plus"></i> Re-list Item
                                    </a>
                                    <a href="{% url 'item:change_status' item.id 'AV' %}"
                                        class="btn btn-warning btn-sm">
                                        Mark as Available
                                    </a>
                                    <a href="{% url 'item:delete_item' item.id %}" class="btn btn-danger btn-sm">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                    {% endif %}
                                </div>
                            </li>
                            {% empty %}
                            <li class="list-group-item">No items sold.</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <!-- Sold Services Tab Pane -->
                <div class="tab-pane fade" id="soldservices" role="tabpanel" aria-labelledby="soldservices-tab">
                    <div class="card mb-4">
                        <ul class="list-group list-group-flush">
                            {% for service in sold_services %}
                            <li class="list-group-item">
                                <a href="{% url 'service:detail' service.id %}"
                                    class="item-details d-flex align-items-center text-decoration-none">
                                    <div>
                                        <h6 class="mb-1 text-dark">{{ service.service_name }}</h6>
                                        <p class="mb-0 text-muted">RM {{ service.service_price }}</p>
                                    </div>
                                </a>
                                <div class="button-group">
                                    {% if is_own_account %}
                                    <a href="{% url 'service:relist_service' service.pk %}"
                                        class="btn btn-success btn-sm">
                                        <i class="fas fa-plus"></i> Re-list Service
                                    </a>
                                    <a href="{% url 'service:change_status' service.id 'AV' %}"
                                        class="btn btn-warning btn-sm">
                                        Mark as Available
                                    </a>
                                    <a href="{% url 'service:delete_service' service.id %}"
                                        class="btn btn-danger btn-sm">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                    {% endif %}
                                </div>
                            </li>
                            {% empty %}
                            <li class="list-group-item">No services sold.</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}