{% extends 'users/base.html' %}

{% load static %}

{% block body %}
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<style>
    body {
        background-color: #f9f9fa;
    }

    .page-content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        /* Full viewport height */
    }

    .card-bordered {
        border: 1px solid #ebebeb;
    }

    .card {
        margin-bottom: 30px;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.03);
        transition: .5s;
        width: 100%;
        /* Maximum width */
    }

    .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 20px;
        background-color: transparent;
        border-bottom: 1px solid rgba(77, 82, 89, 0.07);
    }

    .card-title {
        font-size: 17px;
    }

    .btn-secondary {
        background-color: #e4e7ea;
        border-color: #e4e7ea;
        color: #4d5259;
    }

    .avatar {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        margin-right: 10px;
        /* Ensure spacing between avatar and text */
    }

    .media-chat {
        display: flex;
        align-items: flex-end;
        margin-bottom: 10px;
    }

    .media-chat-reverse {
        flex-direction: row-reverse;
    }

    .media-body {
        padding: 6px 12px;
        border-radius: 18px;
        background-color: #f5f6f7;
        /* Default for receiver */
        color: black;
        /* Text color for receiver */
        max-width: fit-content;
        /* Fit to content size */
        word-break: break-word;
        /* Ensure long words do not overflow */
    }

    .media-chat-reverse .media-body {
        background-color: #007bff;
        /* Color for sender */
        color: white;
        /* Text color for sender */
    }

    .ps-container {
        overflow-y: scroll;
        height: 60vh;
        /* Set a fixed height */
        padding: 10px;
    }

    .publisher {
        display: flex;
        justify-content: flex-end;
        /* Aligns the publisher content to the right */
        padding: 12px 20px;
        background-color: #f9fafb;
        align-items: center;
        /* Ensures vertical alignment of all items in the publisher */
    }

    .publisher-input {
        flex-grow: 1;
        /* Takes up as much space as possible */
        border: 2px solid #007bff;
        outline: none !important;
        background-color: #f0f0f0;
        padding: 10px 20px;
        /* Increased padding for a larger input area */
        border-radius: 20px;
        margin-right: 10px;
        /* Space between the input field and the send button */
        width: 80%;
        /* Optionally set a specific width if needed */
    }

    .publisher-btn {
        background-color: transparent;
        color: #007bff;
        cursor: pointer;
        border: none;
    }

    .meta {
        font-size: 0.75em;
        color: #6c757d;
        margin-top: 5px;
        /* space between the message text and the time */
    }
</style>

<div class="page-content">
    <div class="col-md-8"> <!-- Bootstrap column for center alignment -->
        <div class="card card-bordered">
            <div class="card-header">
                <h4 class="card-title"><strong>Chat with {{ user_B.user.username }}</strong></h4>
                <a class="btn btn-xs btn-secondary" href="{% url 'inbox' %}">Back to Inbox</a>
            </div>

            <div class="ps-container" id="chat-content">
                {% for message in messages %}
                <div class="media media-chat {% if message.sender == user_A %}media-chat-reverse{% endif %}">
                    <img class="avatar" src="{{ message.sender.user.profile.image.url }}" alt="...">
                    <div class="media-body">{{ message.text }}</div>
                    <div class="meta">
                        <time datetime="{{ message.created|date:'c' }}">{{ message.created|date:"g:i A" }}</time>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="publisher">
                <form action="" method="POST">
                    {% csrf_token %}
                    <input class="publisher-input" type="text" name="text" placeholder="Type your message here..."
                        autocomplete="off">
                    <button type="submit" class="publisher-btn"><i class="fa fa-paper-plane"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var chatContent = document.getElementById("chat-content");
        chatContent.scrollTop = chatContent.scrollHeight;
    });
</script>

{% endblock %}