{% extends 'users/base.html' %}

{% block body %}
<style>
    .card-header {
        background-color: #f8f8f8;
        /* Neutral color for the header */
        border-bottom: 1px solid #eee;
        /* Aesthetic separation */
    }

    .card-body {
        padding: 20px;
        /* Adequate padding for form elements */
    }

    img {
        max-height: 300px;
        /* Limiting image size for consistency */
        width: auto;
        /* Maintain aspect ratio */
        max-width: 100%;
        /* Ensures image is not oversized on smaller devices */
    }
</style>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-12"> <!-- Adjusted for better responsiveness -->
            <div class="card">
                <div class="card-header text-center">
                    <h5>Edit Profile Details</h5>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ user_form.as_p }}
                        {{ profile_form.as_p }}
                      

                        <button type="submit" class="btn btn-primary btn-block">Update Profile</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}