{% extends 'users/base.html' %}

{% block body %}


<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4"> <!---center-->
            <div class="card">
                <div class="card-header">
                    <div class="card-title"> Edit
                    </div>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data"> <!---for images type -->
                        {% csrf_token %}

                        {{user_form.as_p}}
                        {{profile_form.as_p}}
                        {{about_form.as_p}}

                        <input type="submit" />


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}