{% extends 'users/base.html' %}

{% block body %}
<div class="container mt-4">
    <h2>Sent Messages</h2>
    <a href="{% url 'inbox' %}" class="btn btn-primary">Inbox</a>


    {% if sent_messages %}
    <div class="list-group">
        {% for message in sent_messages %}
        <a href="{% url 'viewMessage' message.id %}" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">To: {{ message.recipient.user.username }}</h5>
                <small>{{ message.created|date:"N j, Y, P" }}</small>
            </div>
            <p class="mb-1">Subject: {{ message.subject|default:"Replied" }}</p>
            <small>{{ message.body|truncatechars:50 }}</small>
        </a>
        {% endfor %}
    </div>
    {% else %}
    <p>No messages sent.</p>
    {% endif %}
</div>
{% endblock %}