{% extends 'users/base.html' %}

{% block body %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">{{ message }}</div>
{% endfor %}
{% endif %}

<div class="bg-image-signup"></div> <!-- Background Image -->
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4"> <!-- Centered Form -->
            <div class="card transparent-card">
                <div class="card-header">
                    <div class="card-title">Account Sign Up</div>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                            {% if field.errors %}
                            <div class="alert alert-danger">
                                {{ field.errors|join:", " }}
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                        <button class="btn btn-primary" type="submit">Sign Up</button>
                    </form>
                    <p>Already have an account?</p>
                    <a style="color: blue;" href="{% url 'login' %}">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}